<!DOCTYPE html>
<html>
<head>
	<title>Danh sách Khoa</title>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			text-align: left;
		}
</style>
</head>
<body>
	<a href="/admin">
		<button>Trang Chủ</button>
	</a>
	<br>
	<a href="/admin/danh-sach-khoa/them-khoa">
		<button>Thêm Khoa</button>
	</a>
	<table>
		<tr>
			<th>Mã Khoa</th>
			<th>Tên</th>
			<th>SĐT</th>
			<th>Email</th>
			<th>Phòng</th>
			<th></th>
		</tr>
		<% for (var i = 0; i < ds_khoa.length; i++) { %>
		<tr>
			<td><%= ds_khoa[i].MaKhoa %></td>
			<td><%= ds_khoa[i].Ten %></td>
			<td><%= ds_khoa[i].SDT %></td>
			<td><%= ds_khoa[i].Email %></td>
			<td><%= ds_khoa[i].Phong %></td>
			<td><a href='/admin/danh-sach-khoa/sua-khoa/<%=ds_khoa[i].MaKhoa%>'>
				<button>Sửa Khoa</button>
			</a></td>
		</tr>
		<% } %>
	</table>
</body>
</html>
