<!DOCTYPE html>
<html>
<head>
	<title>Danh sách Loại Hoạt động</title>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			text-align: left;
		}
</style>
</head>
<body>
	<a href="/admin">
		<button>Trang Chủ</button>
	</a>
	<br>
	<a href="/admin/danh-sach-lhd/them-lhd">
		<button>Thêm Loại hoạt động</button>
	</a>
	<table>
		<tr>
			<th>Mã Loại</th>
			<th>Tên</th>
			<th>Tổng điểm tối đa</th>
			<th></th>
		</tr>
		<% for (var i = 0; i < ds_lhd.length; i++) { %>
		<tr>
			<td><%= ds_lhd[i].MaLoai %></td>
			<td><%= ds_lhd[i].Ten %></td>
			<td><%= ds_lhd[i].TongDiemToiDa %></td>
			<td><a href='/admin/danh-sach-lhd/sua-lhd/<%= ds_lhd[i].MaLoai %>'>
				<button>Sửa lhd</button>
			</a></td>
		</tr>
		<% } %>
	</table>
</body>
</html>
