<!DOCTYPE html>
<html>
<head>
	<title>Thêm SV</title>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-sv';
		}
	</script>
</head>
<body>
	<form action="/admin/danh-sach-sv/them-sv" method="post">
		<input type="text" name="MSSV" placeholder="MSSV"><br>
		<input type="text" name="CMND" placeholder="CMND"><br>
		<input type="text" name="Ten" placeholder="Họ và tên"><br>
		<label for="MaKhoa">Khoa:</label>
		<select name="MaKhoa">
		<% for (var i = 0; i < khoa.length; i++) { %>
			<option value="<%= khoa[i].MaKhoa %>"><%= khoa[i].Ten %></option>
		<% } %>
		</select><br>
		<input type="text" name="MaLop" placeholder="Mã Lớp"><br>
		<input type="text" name="NamNhapHoc" placeholder="Năm Nhập Học"><br>
		<input type="text" name="SDT" placeholder="Số điện thoại"><br>
		<input type="email" name="email" placeholder="Email"><br>
		<select name="GioiTinh">
			<option value="1">Nam</option>
			<option value="0">Nữ</option>
		</select><br>
		<input type="date" name="NgaySinh" value="01-01-1900" placeholder="Ngày sinh"><br>
		<input type="text" name="NoiSinh" placeholder="Nơi sinh"><br>
		<input type="text" name="DiaChi" placeholder="Địa chỉ"><br>
		<input type="submit" value="Thêm"><br>
	</form>
	<button id='btn-cancle' onclick="clickbtn();">Hủy</button>
</body>
</html>
