<!DOCTYPE html>
<html>
<head>
	<title>Thêm Trợ lý sinh viên</title>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
			text-align: left;
		}
</style>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-tlsv';
		}
	</script>
</head>
<body>
	<form action="/admin/danh-sach-tlsv/them-tlsv" method="post">
		<label for="MaKhoa">Khoa: </label>
		<select name="MaKhoa">
			<% for (var i = 0; i < ds_khoa.length; i++) { %>
				<option value="<%= ds_khoa[i].MaKhoa %>"><%= ds_khoa[i].Ten %></option>
			<% } %>
		</select> <br>
		<input type="text" name="Ten" placeholder="Tên"><br>
		<input type="text" name="SDT" placeholder="Số điện thoại"><br>
		<input type="email" name="email" placeholder="Email"><br>
		<input type="text" name="PhongLamViec" placeholder="Phòng làm việc"><br>
		<input type="submit" value="Thêm">
	</form>
	<button onclick="clickbtn();">Hủy</button>
</body>
</html>
