<!DOCTYPE html>
<html>
<head>
	<title>Thêm Khoa</title>
	<script type="text/javascript">
		function clickbtn() {
			window.location.href = '/admin/danh-sach-khoa';
		}
	</script>
</head>
<body>
	<form action="/admin/danh-sach-khoa/them-khoa" method="post">
		<input type="text" name="MaKhoa" placeholder="Mã Khoa"><br>
		<input type="text" name="Ten" placeholder="Tên Khoa"><br>
		<input type="text" name="SDT" placeholder="Số điện thoại"><br>
		<input type="email" name="email" placeholder="email của Khoa"><br>
		<input type="text" name="Phong" placeholder="Phòng của Khoa"><br>
		<input type="submit" value="Thêm">
	</form>
	<button onclick="clickbtn();">Hủy</button>
</body>
</html>